

body{
  background-color: #181818;
  color: #fff;
  font-family: Arial;
}

input[type=text] {
  padding: 5px 15px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.go{
  background-color: #ffffff;
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 100ms ease-in-out;
}
.go:hover{
  background-color: #d5d5d5;
}

.column{
  border: 1px solid #fff;
  padding: 15px 15px;
  margin: 5px;
}
.row{
  margin-top: 2.5rem;
}

.bg{
 background-color: #4646d7;
}
